@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#footer_1 i{
	font-size: 25px;
}

.marcas__logos img{
	max-width: 350px;
}

header{
	width: 100%;
	position: fixed;
	z-index: 2
}

body {
	height: 100%;
	width: 100%;
	background: url("https://img.freepik.com/free-vector/music-instrument-doodle-seamless-pattern_6997-572.jpg?size=626&ext=jpg") repeat 0 0;
	-webkit-animation: bg-scrolling-reverse 10s infinite;
			animation: bg-scrolling-reverse 10s infinite;
	-webkit-animation-timing-function: linear;
			animation-timing-function: linear;
  }
  
  @-webkit-keyframes bg-scrolling-reverse {
	100% {
	  background-position: 626px 599px;
	}
  }
  
  @keyframes bg-scrolling-reverse {
	100% {
	  background-position: 626px 599px;
	}
  }

.divMayor{
	width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (400px)[auto-fit];
      grid-template-rows: repeat(auto-fit, 400px);
  grid-gap: 30px;
  padding-top: 250px;
  background-image: url("https://i.ibb.co/MpfNVVw/imageonline-co-darkenimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: auto;
  -webkit-box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
          box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.9), -12px 0 8px -4px rgba(0, 0, 0, 0.9);
}

/*navbar__1*/

.navbar1{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 90px;
	background: black;
	font-family: "Libre Franklin", sans-serif;
	font-size: 0.9375rem;
	letter-spacing: 0em;
	color: white;
}

.navbar1 div{
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.nav__logo{
	font-family: 'Itim', cursive;
	font-size: 25px;
	grid-column: 2 / 3;
	padding-left: 15px;
}

.nav__logo img{
	width: 60px;
	margin: 0px 5px;
}

.nav__buscar{
	grid-column: 3 / 9;
	font-size: 20px;
}

.nav__buscar-barra{
	width: 80%;
}

.nav__buscar i{
	padding-left: 20px;
}

.nav__buscar-icono{
	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: #0076DE;
}

.nav__buscar-icono i{
	padding: 0;
	margin: 0;
}

.nav__buscar input{
	width: 65%;
	height: 46px;
	padding-left: 20px;
	outline: none;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	border: 0px solid white;
}

.nav__icono-comprar{
	grid-column: 9 / 11;
}

.nav__icono-comprar i{
	font-size: 25px;
	padding-left: 10px;
}

.nav__icono-comprar a{
	color: white;
	transition: 1s;
}

.nav__icono-comprar a:hover{
	color: #0076DE;
	transition: 1s
}

/*Menu navbar__2*/

.nav__responsive-ul{
	display: none;
}

.nav{
	background-color: black;
	font-family: "Libre Franklin", sans-serif;
	font-size: 0.9375rem;
	letter-spacing: 0em;
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
}

.nav__li{
	display: inline-block;
	padding: 9px;
	color: white;
	transition: 1s;
}

.nav__li:hover > a{
	color: yellow;
	transition: 1s;
}

.nav__li:hover{
	color: yellow;
	transition: 1s;
}

.nav__li a{
	color: white;
	text-decoration: none;
}

.nav__li i{
	width: 30px;
	text-align: center;
}

.nav__responsive-button-container{
	position: absolute;
	width: 100%;
	font-size: 28px;
	margin-top: -64px;
	z-index: 100;
}

.nav__responsive-button{
	color: white;
	padding: 6px 20px;
	text-align: center;
	width: 5%;
}

.nav__responsive-button:hover{
	color: yellow;
}

/*Slider*/

.ofertas{
	text-align: center;
	font-family: 'Itim', cursive;
	color: white;
	letter-spacing: 3px;
}

.main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 125px
}

.main img{
	max-width: 100%;
}

.banner{
	font-family:'Itim', cursive;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 3px;
	margin-top: 80px;
	margin-bottom: 30px;
	color: #F0F8FF;
}

#promociones h2, #promociones label {
	font-family: Itim;
	display: block;
	color: white;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
  }
  
  #promociones ul {
	padding: 10px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
		grid-template-columns: repeat(2, 1fr);
	-ms-grid-rows: (1fr)[2];
		grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
	list-style: none;
  }
  
  #promociones .promocionesItem {
	margin: 30px 0;
  }
  
  #promociones img {
	width: 100%;
	border-radius: 8px;
  }
  
  #promociones .containerSlider {
	margin: 40px auto;
	position: relative;
	max-width: 1000px;
	width: 80%;
	border-radius: 8px;
	overflow: hidden;
	z-index: 1;
	border: 1px solid black;
  }
  
  #promociones .containerSlider .slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
	-webkit-transition: all 600ms;
	transition: all 600ms;
	-webkit-animation-name: autoplay;
			animation-name: autoplay;
	-webkit-animation-duration: 18s;
			animation-duration: 18s;
	-webkit-animation-direction: alternate;
			animation-direction: alternate;
	-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
  }
  
  #promociones .containerSlider .slider .sliderItem {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-ms-flex-negative: 0;
		flex-shrink: 0;
	-webkit-box-flex: 0;
		-ms-flex-positive: 0;
			flex-grow: 0;
	max-width: 100%;
  }
  
  @-webkit-keyframes autoplay {
	20% {
	  -webkit-transform: translate3d(calc(-100% * 0), 0, 0);
			  transform: translate3d(calc(-100% * 0), 0, 0);
	}
	40% {
	  -webkit-transform: translate3d(calc(-100% * 1), 0, 0);
			  transform: translate3d(calc(-100% * 1), 0, 0);
	}
	60% {
	  -webkit-transform: translate3d(calc(-100% * 2), 0, 0);
			  transform: translate3d(calc(-100% * 2), 0, 0);
	}
	80% {
	  -webkit-transform: translate3d(calc(-100% * 3), 0, 0);
			  transform: translate3d(calc(-100% * 3), 0, 0);
	}
	100% {
	  -webkit-transform: translate3d(calc(-100% * 4), 0, 0);
			  transform: translate3d(calc(-100% * 4), 0, 0);
	}
  }
  
  @keyframes autoplay {
	20% {
	  -webkit-transform: translate3d(calc(-100% * 0), 0, 0);
			  transform: translate3d(calc(-100% * 0), 0, 0);
	}
	40% {
	  -webkit-transform: translate3d(calc(-100% * 1), 0, 0);
			  transform: translate3d(calc(-100% * 1), 0, 0);
	}
	60% {
	  -webkit-transform: translate3d(calc(-100% * 2), 0, 0);
			  transform: translate3d(calc(-100% * 2), 0, 0);
	}
	80% {
	  -webkit-transform: translate3d(calc(-100% * 3), 0, 0);
			  transform: translate3d(calc(-100% * 3), 0, 0);
	}
	100% {
	  -webkit-transform: translate3d(calc(-100% * 4), 0, 0);
			  transform: translate3d(calc(-100% * 4), 0, 0);
	}
  }

.info{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	font-family: "Libre Franklin", sans-serif;
}

.info a{
	text-decoration: none;
	color: #0076DE;
	transition: 1s;
}

.info__div{
	display: flex;
}

.info__sub{
	padding: 20px 30px;
	color: white;
	font-size: 15px;
}

.info__sub a:hover{
	color: white;
	transition: 1s;
}

.info i{
	width: 30px;
	margin-right: 10px;
	text-align: center;
	font-size: 20px;
}

.articulos{
	width: 100%;
	padding-top: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.articulos__titulo{
	font-family:'Itim', cursive;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 3px;
	margin-top: 60px;
	margin-bottom: 40px;
	color: #F0F8FF;
}

.articulos__fotos{
	width: 94%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 300px;
	font-family: "Open Sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0em;
}

.articulos__categoria{
	border-radius: 8px;
	position: relative;
	color: #4E4E4E;
	transition: 1.5s;
	-webkit-filter: grayscale(70%);
}

.articulos__categoria:nth-child(1){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/1_812x644.png");
	background-size: cover;
	background-position: inherit;
}

.articulos__categoria:nth-child(2){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/2_812x644.png");
	background-size: cover;
	background-position: inherit;
}
.articulos__categoria:nth-child(3){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/3_812x644.png");
	background-size: cover;
	background-position: inherit;
}
.articulos__categoria:nth-child(4){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/4_812x644.png");
	background-size: cover;
	background-position: inherit;
}
.articulos__categoria:nth-child(5){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/5_812x644.png");
	background-size: cover;
	background-position: inherit;
}
.articulos__categoria:nth-child(6){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/6_812x644.png");
	background-size: cover;
	background-position: inherit;
}
.articulos__categoria:nth-child(7){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/8_812x644.png");
	background-size: cover;
	background-position: inherit;
}
.articulos__categoria:nth-child(8){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/10_812x644.png");
	background-size: cover;
	background-position: inherit;
}

.articulos__categoria:nth-child(9){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/9_812x644.png");
	background-size: cover;
	background-position: inherit;
	color: white;
}
.articulos__categoria:nth-child(10){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/11_812x644.png");
	background-size: cover;
	background-position: inherit;
	color: white;
}
.articulos__categoria:nth-child(11){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/baterias_812x644.png");
	background-size: cover;
	background-position: inherit;
	color: white;
}
.articulos__categoria:nth-child(12){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/13_812x644.png");
	background-size: cover;
	background-position: inherit;
	color: white;
}

.articulos__categoria:nth-child(13){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/15_812x644.png");
	background-size: cover;
	background-position: inherit;
	color: white;
}

.articulos__categoria:nth-child(14){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/16_812x644.png");
	background-size: cover;
	background-position: inherit;
	color: white;
}

.articulos__categoria:hover{
	background-position: center;
	-webkit-filter: grayscale(0%);
	transition: 1.5s;
}

.articulos__titulo-2{
	font-family:'Itim', cursive;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 3px;
	margin-top: 80px;
	margin-bottom: 40px;
	color: #F0F8FF;
}

.articulos__audio{
	width: 94%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 300px;
	font-family: "Open Sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0em;
	color: white;
}

.articulos__categoria-audio{
	transition: 1.5s;
	-webkit-filter: grayscale(70%);
}

.articulos__categoria-audio:nth-child(1){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/17_812x644.png");
	background-size: cover;
	background-position: inherit;
}

.articulos__categoria-audio:nth-child(2){
	background-image: url("https://cdn.shopify.com/s/files/1/0266/8534/1738/files/18_812x644.png");
	background-size: cover;
	background-position: inherit;
}

.articulos__categoria-audio:hover{
	background-position: center;
	-webkit-filter: grayscale(0%);
	transition: 1.5s;
}

h2{
	padding: 30px 20px;
}

/*Marcas*/

.marcas{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.marcas__titulo{
	font-family:'Itim', cursive;
	font-weight: bold;
	font-size: 32px;
	letter-spacing: 3px;
	margin-top: 60px;
	margin-bottom: 40px;
	color: #F0F8FF;
}

.marcas__logos{
	width: 94%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 268px;
	font-family: "Open Sans",sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 0em;
}

.marcas__logos-img img{
	border-radius: 8px;
}

.marcas__logos-img img{
	width: 100%;
	height: 100%;
}

/* Contacto */
#contacto {
	font-family: Itim;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	padding: 0 30px;
	color: white;
  }
  
  #contacto .contactoItem {
	margin: 10px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  }
  
  #contacto .contactanos {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
			justify-content: space-evenly;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  #contacto .ubicacion {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
  }
  
  #contacto .ubicacion iframe {
	width: 100%;
	max-height: 300px;
  }
  
  #contactoForm {
	width: 100%;
	margin-top: 15px;
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: (50px)[5];
		grid-template-rows: repeat(5, 50px);
  }
  
  #contactoForm input {
	color: white;
	outline: none;
	width: 80%;
	height: 20px;
	text-align: left;
	border-style: none;
	background-color: transparent;
	border-bottom: 2px solid white;
	padding: 12px;
  }
  
  #contactoForm textarea{
	  color: white;
	  outline: none;
	  width: 80%;
	  height: 20px;
	  text-align: left;
	  border-style: none;
	  background-color: transparent;
	  border-bottom: 2px solid white;
	  padding-left: 12px;
	  resize: none;
  }
  
  #contactoForm input::-webkit-input-placeholder {
	color: white;
  }
  
  #contactoForm input:-ms-input-placeholder {
	color: white;
  }
  
  #contactoForm input::-ms-input-placeholder {
	color: white;
  }
  
  #contactoForm input::placeholder {
	color: white;
  }
  
  #contactoForm .formItem {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin: 5px 0;
  }
  
  #contactoForm button {
	color: white;
	cursor: pointer;
	font-weight: 600;
	padding: 5px;
	width: 150px;
	border: 2px solid white;
	border-radius: 3px;
	background: transparent;
	-webkit-transition: 0.5s;
	transition: 0.5s;
  }
  
  #contactoForm button:hover {
	background-color: blue;
	border: 2px solid transparent;
	-webkit-transition: 0.5s;
	transition: 0.5s;
  }
  
  @media (max-width: 770px) {
	.gridContainer {
	  width: 90%;
	  padding-top: 123px;
	}
	#main {
	  -ms-flex-pack: distribute;
		  justify-content: space-around;
	  padding: 0 20px;
	}
	#main h2 {
	  font-size: 20px;
	}
	#main p {
	  font-size: 28px;
	}
	.caracteristicasContainer {
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
		  -ms-flex-direction: column;
			  flex-direction: column;
	}
	.caracteristicasContainer i {
	  font-size: 20px;
	}
	.caracteristicaItem {
	  font-size: 17px;
	  margin-top: 5px;
	  margin-bottom: 20px;
	}
	#marcas .marcasItem {
	  -ms-grid-columns: (1fr)[2];
		  grid-template-columns: repeat(2, 1fr);
	  -ms-grid-rows: (1fr)[4];
		  grid-template-rows: repeat(4, 1fr);
	}
	#contacto {
	  padding: 0;
	}
	#contacto .contactoItem {
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
		  -ms-flex-direction: column;
			  flex-direction: column;
	  -ms-flex-pack: distribute;
		  justify-content: space-around;
	  margin: 0;
	}
	#contacto .contactanos, #contacto .ubicacion {
	  width: 100%;
	}
	#contacto .ubicacion iframe {
	  width: 100%;
	  max-height: 200px;
	}
  }

/*Footer*/

footer{
	width: 100%;
	background-color: black;
	padding-bottom: 170px;
	color: white;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#footer_1{
	width: 13%;
	padding-top: 46px;
	padding-bottom: 22px;
	display: flex;
	justify-content: space-around;
}

footer .icon{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 20px;
}

.fab{
	color: white;
	transition: 0.5s;
}

.fa-twitter:hover{
	color: #1D9BF0;
	transition: 0.5s;
}

.fa-facebook-f:hover{
	color: #2374E1;
	transition: 0.5s;
}

.fa-linkedin-in:hover{
	color: #0A66C2;
	transition: 0.5s;
}

.fa-instagram:hover{
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
	color: transparent;
	transition: 0.5s;
	-webkit-background-clip: text;
}

.footer_copy{
	margin-top: 20px; 
	font-family: "Open Sans",sans-serif;
	font-weight: 400;
}